.advantages {
  margin-top: rem(120px);
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: rem(160px);
  &::before {
    @include before_fig(100%, 100%, #333333)
  }
  .parallax {
    position: absolute;
  }
  h2 {
    color: #ffffff;
    margin-bottom: rem(150px);
  }
  .advantages_wrap {
    max-width: rem(1480px);
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .advantages_elem {
      position: relative;
      max-width: rem(730px);
      width: 100%;
      margin-bottom: rem(40px);
      padding-left: rem(80px);
      background-color: transparent;
      .advantages_elem-wrap {
        background-color: #fff;
        height: rem(300px);
        padding: rem(60px) rem(50px) 0 rem(180px);
        box-shadow: rem(-12px) rem(23px) rem(68px) rgba(0, 0, 0, 0.08);
        h3 {
          color: #1c1c1c;
          text-transform: uppercase;
          font: 700 rem(24px) $proxima;
          letter-spacing: rem(0.48px);
          margin-bottom: rem(20px);
        }
        .advantages_circle {
          position: absolute;
          top: rem(50px);
          left: 0;
          width: rem(193px);
          height: rem(193px);
          border-radius: 50%;
          background-image: linear-gradient(to top, #cf941b 0%, #cf941b 1%, #dead50 16%, #f1cd66 30%, #ffee8a 46%, #ffffa4 57%, #eccf49 89%, #f3c557 100%);
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: rem(100px);
            &::before {
              display: inline;
              background: -webkit-gradient(linear, left bottom, left top, from(#683500), color-stop(10%, #9f5c02), color-stop(22%, #f7bb63), color-stop(37%, #db9d4e), color-stop(53%, #935e1f), color-stop(78%, #e8aa55), color-stop(92%, #945d25), to(#945d25));
              background: linear-gradient(0deg, #683500 0, #9f5c02 10%, #f7bb63 22%, #db9d4e 37%, #935e1f 53%, #e8aa55 78%, #945d25 92%, #945d25);
              -webkit-background-clip: text;
              font-size: 6.25rem;
              line-height: 1;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}

.advantage_elem .advantage_elem_icon i:before {
  display: inline;
  background: -webkit-gradient(linear, left bottom, left top, from(#683500), color-stop(10%, #9f5c02), color-stop(22%, #f7bb63), color-stop(37%, #db9d4e), color-stop(53%, #935e1f), color-stop(78%, #e8aa55), color-stop(92%, #945d25), to(#945d25));
  background: linear-gradient(0deg, #683500 0, #9f5c02 10%, #f7bb63 22%, #db9d4e 37%, #935e1f 53%, #e8aa55 78%, #945d25 92%, #945d25);
  -webkit-background-clip: text;
  font-size: 6.25rem;
  line-height: 1;
  -webkit-text-fill-color: transparent;
}