.calculator_wrap {
  width: 100%;
  position: relative;
  padding: rem(100px) 0 0;
  .calculator_img {
    max-width: rem(754px);
    width: 100%;
    height: rem(636px);
    position: absolute;
    right: 0;
    top: 35%;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .second_img {
    left: 0;
    top: 15%;
    right: auto;
    z-index: -1;
    max-width: rem(660px);
    width: 100%;
    height: rem(640px);
    opacity: 0.23;
  }
  .third_img {
    max-width: rem(659px);
    height: rem(1129px);
    left: 0;
    right: auto;
    top: auto;
    bottom: 10%;
  }
  .last_img {
    max-width: rem(300px);
    width: 100%;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    opacity: 0.23;
  }
  .container {
    .calculator_left {
      width: 100%;
      position: relative;
      max-width: rem(680px);
      .calculator_content {
        width: 100%;
        position: relative;
      }
    }
    .calculator_right {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-bottom: rem(280px);
      .right_content {
        position: relative;
        max-width: rem(750px);
        width: 100%;
        padding-right: rem(100px);
        background-color: #fff;
        .forty_img {
          max-width: rem(190px);
          height: rem(190px);
          left: auto;
          bottom: auto;
          right: rem(-80px);
        }
      }
      .calculator_right-data {
        position: relative;
        margin-bottom: rem(90px);
        max-width: rem(1050px);
        width: 100%;
        box-shadow: 0 rem(26px) rem(68px) rgba(0, 0, 0, 0.06);
        background-color: #ffffff;
        padding: rem(100px) rem(200px) rem(60px);
        p {
          text-indent: rem(20px);
        }
        .forty_img {
          max-width: rem(190px);
          height: rem(190px);
          left: auto;
          bottom: auto;
          top: auto;
          right: rem(-80px);
        }
      }
    }
  }
}

.main_calculator_wrap {
  position: relative;
  width: 100%;
  .main_calculator {
    max-width: rem(1200px);
    padding: rem(130px) rem(70px) rem(50px);
    box-shadow: 0 rem(26px) rem(68px) rgba(0, 0, 0, 0.08);
    border: rem(15px) solid #cc8d34;
    background-image: $brown-gradient;
    margin-bottom: rem(60px);
    .calculator_form {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      .calculator_form-left {
        p {
          color: #ffffff;
          text-transform: uppercase;
          font: 700 rem(24px)/3 $proxima;
          letter-spacing: 0.48px;
        }
      }
    }
  }
  p {
    color: #1c1c1c;
    font: 700 rem(20px) $proxima;
    letter-spacing: rem(0.48px);
    margin-bottom: rem(25px);
    span {
      text-transform: uppercase;
      font-size: rem(24px);
    }
  }
  .calculator_table {
    position: relative;
    display: flex;
    ul {
      border-bottom: rem(3px) solid #d19547;
      width: 100%;
      position: relative;
      &::before {
        @include before_fig(rem(1px), 95%, #eadfd1);
        top: rem(10px);
        right: 0;
        z-index: 1;
      }
      &:first-child {
        max-width: rem(145px);
        border-left: rem(3px) solid #d19547;
      }
      &:nth-child(2) {
        max-width: rem(255px);
        li {
          font-weight: 700;
        }
      }
      &:nth-child(3) {
        max-width: rem(255px);
      }
      &:nth-child(4) {
        max-width: rem(300px);
        border-right: rem(3px) solid #d19547;
        li {
          font-weight: 700;
        }
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: rem(50px);
        color: #1c1c1c;
        font: 300 rem(20px) $lato;
        position: relative;
        &::before {
          @include before_fig(95%, rem(1px), #eadfd1);
          bottom: 0;
        }
        &:first-child {
          background-image: $brown-gradient;
          color: #ffffff;
          font: 700 rem(20px) $proxima;
          &::before {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}