//html {
//  font-size: 0.8334vw;
//}

body {
  font: 300 rem(17px)/1.7 $lato;
  letter-spacing: rem(0.4px);
}

//CONTAINERS
.container {
  max-width: rem(1200px);
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.news_container {
  max-width: rem(1000px);
  width: 100%;
  margin: auto;
  position: relative;
}

.footer_container {
  max-width: rem(1500px);
  width: 100%;
  position: relative;
  margin: auto;
}

.container_security {
  max-width: rem(1400px);
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.programs_container {
  max-width: rem(1700px);
  width: 100%;
  position: relative;
}

.partners_container {
  max-width: rem(1530px);
  width: 100%;
}

.room_container {
  max-width: rem(1485px);
  width: 100%;
  position: relative;
  margin: auto;
}

.btn_main {
  width: rem(168px);
  height: rem(45px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rem(-2px) rem(4px) rem(3px) rgba(0, 0, 0, 0.26);
  border-radius: rem(23px);
  background-image: linear-gradient(to bottom, #676869 0%, #676869 1%, #8c8d8f 17%, #c1c1c2 36%, #faf8f5 54%, #ebeae9 67%, #dcdcdc 74%, #b5b6b7 100%);
  opacity: 0.92;
  span {
    background-image: linear-gradient(to top, #676869 0%, #676869 1%, #8c8d8f 17%, #c1c1c2 36%, #faf8f5 54%, #ebeae9 67%, #dcdcdc 74%, #b5b6b7 100%);
    margin: rem(3px);
    width: rem(162px);
    height: rem(39px);
    border-radius: rem(23px);
    text-align: center;
    line-height: 42px;
  }
}

.leader_title_item {
  letter-spacing: rem(0.6px);
  text-transform: uppercase;
  font: 900 rem(30px)/1.1 $proxima;
  margin-bottom: rem(30px);
}

.btn {
  width: rem(194px);
  height: rem(45px);
  box-shadow: rem(-2px) rem(4px) rem(3px) rgba(111, 79, 17, 0.26);
  display: flex;
  border-radius: rem(23px);
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #cf941b 0%, #cf941b 1%, #dead50 16%, #f1cd66 30%, #ffee8a 46%, #ffffa4 57%, #eccf49 89%, #f3c557 100%);
  opacity: 0.92;
  span {
    background-image: linear-gradient(to top, #cf941b 0%, #cf941b 1%, #dead50 16%, #f1cd66 30%, #ffee8a 46%, #ffffa4 57%, #eccf49 89%, #f3c557 100%);
    width: rem(188px);
    height: rem(39px);
    border-radius: rem(23px);
    margin: rem(3px);
    text-align: center;
    line-height: 39px;
  }
}

.main_title {
  margin-top: rem(200px);
  text-align: center;
  color: #1c1c1c;
  text-transform: uppercase;
  font: 400 rem(48px)/1.5 "Proxima Nova - Extrabld";
  letter-spacing: 0.32px;
  position: relative;
  display: block;
  &::before {
    @include before_fig(rem(115px), rem(15px), $yellow-color);
    left: calc(50% - 57.5px);
    top: rem(-30px);
  }
}

.partners_text {
  color: #1c1c1c;
  font: 300 rem(20px)/1.7 $lato;

}

.room_title {
  color: #1c1c1c;
  font: 700 rem(30px)/2.5 $proxima;
  text-transform: uppercase;
}

//news
.news_date {
  color: #1c1c1c;
  font: 700 rem(20px)/1.7 $lato;
  letter-spacing: rem(0.4px);
}

.news_text {
  color: #1c1c1c;
  font: 300 rem(20px)/1.7 $lato;
  max-width: rem(640px);
  max-height: rem(190px);
  overflow: hidden;
  width: 100%;
}

.calculator_title {
  text-transform: uppercase;
  font: 400 rem(30px)/1.1 "Proxima Nova - Extrabld";
  margin-bottom: rem(50px);
}

.room_text {
  color: #1c1c1c;
  font: 700 rem(18px)/1.8 $lato;
}

.room_text-item {
  color: #1c1c1c;
  font: 300 rem(18px)/1.8 $lato;
}

.room_title-item {
  color: #c89358;
  font: 700 rem(18px)/1.8 $lato;
  text-transform: uppercase;
}

.calculator_text {
  color: #1c1c1c;
  font: 300 rem(20)/1.7 $lato;
  margin-bottom: rem(50px);
  span {
    font: 700 rem(30px) $lato;
  }
}

//social
.contacts {
  display: flex;
  flex-direction: column;
  a {
    color: #ffffff;
    font: 400 rem(22px)/1.2 $proxima;
    letter-spacing: rem(0.44px);
    margin-bottom: rem(40px);
    i {
      margin-right: rem(25px);
    }
  }
}

//DEPOSIT CARDS
.deposit_card {
  position: relative;
  max-width: rem(160px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: rem(10px);
  transition: .4s;
  &:hover {
    transform: scale(1.1);
  }
  .card_head {
    width: rem(160px);
    height: rem(160px);
    border-radius: 50%;
    background-image: $yllow-circle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: rem(-80px);
    z-index: 1;
    p {
      color: #333333;
      font: 700 rem(13px)/2 $lato;
      text-transform: uppercase;
    }
    h3 {
      color: #000000;
      font: 700 rem(21px) $lato;
      letter-spacing: rem(0.94px);
      margin-bottom: 0;
    }
  }
  .card_content {
    padding: rem(90px) rem(10px) rem(20px);
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: rem(-12px) rem(23px) rem(68px) rgba(0, 0, 0, 0.06);
    p {
      position: relative;
      text-align: center;
      font: 300 rem(13px)/1.3 $lato;
      text-transform: uppercase;
      margin-bottom: rem(25px);
      &:nth-child(4) {
        color: #bc773f;
      }
      &::before {
        @include before_fig(rem(105px), rem(2px), $yellow-color);
        bottom: -12px;
        left: rem(20px);
      }
    }
    h4 {
      font: 700 rem(13px)/1.3 $lato;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.feedback_inp {
  width: 100%;
  height: rem(45px);
  border-radius: rem(23px);
  border: rem(1px) solid #cecece;
  background-color: #fafafa;
  color: #1c1c1c;
  font: 300 rem(18px) $lato;
  letter-spacing: rem(0.36px);
  padding-left: rem(30px);
}