.contacts_wrap {
  width: 100%;
  position: relative;
  padding: rem(150px) rem(15px) rem(130px);
  .contacts_info {
    max-width: rem(900px);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contacts {
      a {
        color: #1c1c1c;
        font: 700 rem(22px)/1.2 #lato;
        letter-spacing: rem(0.44px);
        i {
          color: $yellow-color;
        }
      }
      h2 {
        color: #1c1c1c;
        font: 700 rem(30px) $proxima;
        text-transform: uppercase;
        margin-bottom: rem(60px);
      }
    }
    .contacts_qr {
      max-width: rem(370px);
      width: 100%;
      height: rem(387px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//map
.map_title {
  text-align: center;
  padding: rem(90px) 0;
  background-color: #f9f9f9;
  width: 100%;
  position: relative;
  color: #1c1c1c;
  text-transform: uppercase;
  font: 400 rem(30px)/1 "Proxima Nova - Extrabld";
  letter-spacing: rem(0.6px);
}

#map {
  width: 100%;
  height: 100vh;
}