.deposit {
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  .deposit_wrap {
    width: 100%;
    padding: rem(340px) rem(10px) rem(140px);
    display: flex;
    .deposit_card {
      //max-width: 20%;
      //width: 20%;
      max-width: rem(355px);
      width: 100%;
      margin-right: rem(20px);
      .card_head {
        width: 100%;
        height: rem(356px);
        top: rem(-200px);
        p {
          font: 400 rem(30px)/1.8 "Lato - Black";
        }
        h3 {
          letter-spacing: rem(0.94px);
          font: 700 rem(47px)/1.8 $lato;
        }
      }
    }
    .deposit_content {
      padding: rem(240px) rem(40px) rem(60px) rem(50px);
      width: 100%;
      p {
        font: 300 rem(17px)/1.2 $lato;
        margin-bottom: rem(50px);
        &::before {
          @include before_fig(100%, rem(2px), $yellow-color);
          bottom: rem(-25px);
        }
      }
      h4 {
        font: 700 rem(17px)/1.2 $lato;

      }
    }
  }
}

//deposit increase
.deposit_increase {
  width: 100%;
  position: relative;
  margin-bottom: rem(130px);
  .increase {
    width: 100%;
    background-color: $yellow-color;
    padding: rem(10px) 0;
    .main_title {
      margin-top: 0;
      &::before {
        width: 0;
        height: 0;
      }
    }
  }
  .increase_content {
    position: relative;
    display: flex;
    padding: rem(50px) rem(50px) 0;
    justify-content: space-between;
    .increase_elem {

      h4 {
        text-align: center;
        color: #1c1c1c;
        text-transform: uppercase;
        font: 400 rem(22px)/3.4 "Proxima Nova - Extrabld";
        letter-spacing: rem(0.44px);
      }
      p {
        color: #1c1c1c;
        font: 400 rem(20px) $proxima;
        letter-spacing: rem(0.4px);
        text-align: center;
      }
    }
  }
}