.deposit {
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  .deposit_wrap {
    width: 100%;
    padding: rem(240px) rem(10px) rem(140px);
    display: flex;
    .deposit_elem {
      position: relative;
      max-width: 20%;
      width: 100%;
      margin-right: rem(20px);
      background-color: #fff;
      &:last-child {
        margin-right: 0;
      }
      .deposit_head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: rem(-150px);
        z-index: 1;
        width: 100%;
        height: rem(356px);
        border-radius: 50%;
        background-image: linear-gradient(to top, #fddd65 0%, #fff9b0 28%, #fee273 43%, #f8d151 48%, #fddf6c 53%, #fff9b0 78%, #f8d04f 98%, #f8d04f 100%), linear-gradient(-69deg, #05caf7 0%, #2962b2 100%);
        p {
          color: #333333;
          text-transform: uppercase;
          letter-spacing: rem(0.6px);
          font: 400 rem(30px)/1.8 "Lato - Black";
        }
        h3 {
          letter-spacing: rem(0.94px);
          font: 700 rem(47px)/1.8 $lato;
        }
      }
      .deposit_content {
        padding: rem(240px) rem(40px) 0;
        width: 100%;
        height: auto;

        p {
          text-align: center;
          color: #1c1c1c;
          text-transform: uppercase;
          font: 300 rem(17px)/1.2 $lato;
          margin-bottom: rem(50px);
          position: relative;
          &:nth-child(4) {
            color: #bc773f;
            font-weight: 700;

          }
          &::before {
            @include before_fig(100%, rem(2px), $yellow-color);
            bottom: rem(-25px);
          }
        }
        h4 {
          text-align: center;
          text-transform: uppercase;
          font: 700 rem(17px)/1.2 $lato;
          margin-bottom: rem(50px);
        }
      }
    }
  }
}

//deposit increase
.deposit_increase {
  width: 100%;
  position: relative;
  margin-bottom: rem(130px);
  .increase {
    width: 100%;
    background-color: $yellow-color;
    padding: rem(10px) 0;
    .main_title {
      margin-top: 0;
      &::before {
        width: 0;
        height: 0;
      }
    }
  }
  .increase_content {
    position: relative;
    display: flex;
    padding: rem(50px) rem(50px) 0;
    justify-content: space-between;
    .increase_elem {

      h4 {
        text-align: center;
        color: #1c1c1c;
        text-transform: uppercase;
        font: 400 rem(22px)/3.4 "Proxima Nova - Extrabld";
        letter-spacing: rem(0.44px);
      }
      p {
        color: #1c1c1c;
        font: 400 rem(20px) $proxima;
        letter-spacing: rem(0.4px);
        text-align: center;
      }
    }
  }
}