.faq {
  position: relative;
  width: 100%;
  margin: rem(140px) 0 rem(100px);
  .faq_content {
    max-width: rem(1075px);
    width: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
    box-shadow: -12px 23px 68px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: rem(100px);
    overflow: hidden;
    h3 {
      position: relative;
      color: #1c1c1c;
      font: 700 rem(30px)/1.3 $lato;
      letter-spacing: rem(0.6px);
      &::before {
        @include before_fig(50%, rem(7px), #909193);
        top: rem(15px);
        left: -55%;
      }
    }
    p {
      color: #1c1c1c;
      font: 300 rem(20px/1.7 $lato);
      margin-bottom: rem(60px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .faq_img {
    position: absolute;
    z-index: -1;
    max-width: rem(800px);
    width: 100%;
    &::before {
      @include before_fig(100%, 100%, rgba(255, 255, 255, 0.8));
      z-index: 1;
    }
    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &:first-child {
      top: 15%;
      right: 0;
    }
    &:nth-child(2) {
      top: 30%;
      left: 0;
    }
    &:nth-child(3) {
      bottom: -10%;
      right: 0;
    }
  }
}