.investments {
  width: 100%;
  position: relative;
  overflow: hidden;
  .parallax {
    position: absolute;
    opacity: 0.23;
  }
  .coins_investment-img {
    max-width: rem(710px);
    height: rem(362px);
    width: 50%;
    position: absolute;
    z-index: 1;
    left: rem(20px);
    top: rem(80px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    .investments_wrap {
      background-color: #fff;
      max-width: rem(1200px);
      width: 100%;
      display: flex;
      justify-content: flex-end;
      opacity: 0.97;
      .investments_content {
        max-width: rem(600px);
        width: 100%;
        padding: rem(30px);
        p {
          color: #1c1c1c;
          font: 300 rem(20px)/1.75 $lato;
          margin-bottom: rem(50px);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

//investors block
.investors {
  width: 100%;
  position: relative;
  padding: rem(100px) 0 rem(60px);
  .investors_img {
    max-width: rem(681px);
    width: 39%;
    height:auto;
    position: absolute;
    right: rem(130px);
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    .investors_elem {
      width: 100%;
      position: relative;
      padding-left: rem(15px);
      background-color: #fff;
      opacity: 0.9;
      .investors_text {
        color: #1c1c1c;
        font: 300 rem(20px)/1.7 $lato;
        max-width: rem(550px);
        width: 100%;
        margin-bottom: rem(55px);
        span {
          font-weight: 700;
        }
      }
      .policy_invest {
        max-width: rem(765px);
        width: 100%;
        position: relative;
        h3 {
          font: 400 rem(30px)/1.3 "Proxima Nova - Extrabld";
          text-transform: uppercase;
          margin-bottom: rem(40px);
        }
        p {
          font: 300 rem(20px)/1.7 $lato;
          span {
            font: 700 rem(30px)/1.16 $lato;
            margin-right: rem(10px);
          }
        }
      }
    }
  }
}

//investors payments

.investors_payments {
  width: 100%;
  position: relative;
  padding-top: rem(140px);
  h2 {
    max-width: rem(1118px);
    width: 100%;
    text-align: center;
    margin: auto;
    color: #1c1c1c;
    font: 700 rem(30px)/1.3 $lato;
  }
  .payments_other {
    width: 100%;
    position: relative;
    padding: rem(60px) rem(15px) rem(50px);
    background-color: #f9f9f9;
    .partners_container {
      margin: auto;
      .other_wrap {
        width: 100%;
        display: flex;
        align-items: center;
        .payments_img {
          width: rem(280px);
          height: rem(70px);
          margin-right: rem(30px);
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        p {
          max-width: rem(790px);
          width: 100%;
          color: #1c1c1c;
          font: 300 rem(20px)/1.7 $lato;
        }
      }
    }
  }
}

.payments_content {
  width: 100%;
  position: relative;
  .payment_content_img {
    position: absolute;
    max-width: rem(1250px);
    width: 100%;
    height: auto;
    z-index: -1;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:first-child {
      top: 0;
      right: 0;
    }
    &:nth-child(2) {
      bottom: 0;
      left: 0;
      z-index: -2;
    }
  }
  .partners_container {
    margin: auto;
    padding: rem(200px) 0;
    .payments_elem_wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      .payments_elem {
        max-width: rem(1070px);
        width: 100%;
        background-color: #fff;
        padding: rem(90px) rem(130px) rem(100px) rem(160px);
        box-shadow: -12px 23px 68px rgba(0, 0, 0, 0.06);
        h2 {
          color: #1c1c1c;
          letter-spacing: rem(0.6px);
          text-transform: uppercase;
          font: 400 rem(30px)/1.16 "Proxima Nova - Extrabld";
          margin-bottom: rem(45px);
        }
        p {
          color: #1c1c1c;
          font: 300 rem(20px)/1.75 $lato;
          span {
            font-weight: 700;
            font-size: rem(30px);
            margin-right: rem(15px);
          }
        }
      }
      &:first-child {
        margin-bottom: rem(230px);
        p {
          margin-bottom: rem(90px);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &:nth-child(2) {
        align-items: flex-end;
      }
    }
  }
}












