.investments {
  width: 100%;
  position: relative;
  h2 {
    margin-bottom: rem(160px);
  }
  .investments_wrap {
    width: 100%;
    max-height: rem(480px);
    position: relative;
    overflow: hidden;
    &::before {
      @include before_fig(100%, 100%, rgba(255, 255, 255, 0.60));
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .investments_content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      .container {
        z-index: 3;
        height: 100%;
        background-color: #fff;
        .investment_img {
          position: absolute;
          left: rem(-260px);
          top: rem(50px);
          max-width: rem(710px);
          width: 100%;
          height: rem(360px);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .investments_text {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: rem(25px) rem(100px) 0;
          p {
            max-width: rem(620px);
            width: 100%;
            margin-bottom: rem(55px);
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}