@media only screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}

@media screen and(max-width: 1669px) {
  //deposit card
  .deposit {
    .deposit_wrap {
      .deposit_card {
        max-width: rem(260px);
        .card_head {
          height: rem(260px);
          top: rem(-100px);
          h3 {
            font-size: rem(40px);
          }
        }
        .card_content {
          padding-top: rem(190px);
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  //reliability
  .reliability {
    .reliability_content {
      .reliability_elem {
        .reliability_footer {
          padding: rem(55px) rem(20px) rem(40px) rem(30px);
        }
      }

    }
  }
}

@media screen and (max-width: 1480px) {
  //advantages
  .advantages {
    .advantages_wrap {
      padding: 0 rem(10px);
      .advantages_elem {
        width: 48%;
        &:nth-child(odd) {
          margin-right: rem(10px);
        }
        .advantages_elem-wrap {
          padding: rem(30px) rem(20px) 0 rem(150px);
        }
      }
    }
  }
  //partners content
  .partners_content {
    .programs_container {
      .partners_start_elem {
        .start_elem-gradient {
          padding: rem(50px) rem(70px) rem(50px);
        }
      }
    }
  }
  .room {
    .room_container {
      .room_content {
        .right_content {
          .room_tabs {
            .tabs_content {
              .operations {
                .deposit_content {
                  .deposit_card {
                    flex: 1 1 30%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  ////slide
  .main_slide {
    .main_slide_wrap {
      .slide_elem {
        .container {
          .slide_content {
            h2 {
              font-size: rem(60px);
            }
          }
        }
      }
    }
  }
  //deposit card
  .deposit {
    .deposit_wrap {
      padding: rem(200px) rem(10px) 0;
      .deposit_card {
        max-width: rem(260px);
        .card_head {
          height: rem(260px);
          top: rem(-100px);
          h3 {
            font-size: rem(30px);
            line-height: 1.5;
          }
          p {
            font-size: rem(25px);
            line-height: 1.5;
          }
        }
        .card_content {
          padding: rem(190px) rem(20px) rem(50px);
          p {
            font-size: rem(15px);
            margin-bottom: rem(30px);
            &::before {
              bottom: rem(-15px);
            }
          }
          h4 {
            font-size: rem(16px);
          }
        }
      }
    }
  }
  //security head
  .security {
    margin-bottom: rem(100px);
    .container {
      .security_head {
        max-width: rem(800px);
        padding: rem(40px) rem(80px) rem(60px);
        opacity: 0.92;
        h2 {
          margin-bottom: rem(50px);
        }
      }
    }
  }
  //reliability
  .reliability {
    .reliability_content {
      .reliability_elem {
        .reliability_head {
          height: rem(130px);
        }
        .reliability_footer {
          padding: rem(55px) rem(20px) rem(40px) rem(30px);
          p {
            font-size: rem(15px);
          }
        }
      }

    }
  }
  .partners_table {
    .more_security-img {
      top: rem(50px);
    }
    .table_container {
      .table {
        opacity: 0.7;
        .table-gradient {
          padding: rem(40px) rem(15px) rem(20px) rem(30px);
        }
      }
    }
    .partners_img-table {
      z-index: -1;
      opacity: 0.25;
    }
  }
}

@media screen and (max-width: 1360px) {
  //investments
  .investments {
    .coins_investment-img {
      height: auto;
    }
    .container {
      .investments_wrap {
        opacity: 0.8;
      }
    }
  }
  .room {
    .room_container {
      .room_content {
        padding: 70px 80px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  //footer
  .main_footer {
    .footer_container {
      .footer_content {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  //reliability
  .reliability {
    .reliability_content {
      .reliability_elem {
        flex: 1 1 40%;
        .reliability_footer {
          padding: rem(55px) rem(70px) rem(80px) rem(75px);
        }
      }

    }
  }
}

@media screen and (max-width: 1280px) {
  textarea {
    min-width: auto;

  }
  //efective partners
  .effective_partners {
    margin-bottom: rem(90px);
    .effective_partners-img {
      display: none;

    }
    .container {
      .effective {
        max-width: none;
        p {
          text-align: center;
        }

      }
    }
  }
  //parnters leader
  .partners_leader {
    h2 {
      font-size: rem(30px);
      margin-bottom: rem(50px);
    }
    .container {
      display: flex;
      flex-direction: column;
      .leader {
        margin-bottom: rem(30px);
        max-width: none;
        text-align: center;
        padding: 0 rem(20px);
        p {
          margin-bottom: rem(30px);
        }
      }
      .partners_leader-img {
        margin: 0 auto rem(100px);
        position: relative;
        left: auto;
        height: auto;
      }
    }
    .leader_second {
      .img_leader-second {
        top: 0;

      }
    }
    .fifty_leader {
      .forty_leader-img {
        opacity: 0.1;
      }
    }
  }
  .partners_table {
    .more_security-img {
      display: none;
    }
    .table_container {
      padding: 0;
      .table {
        padding: rem(10px);
        .table-gradient {
          ol {
            li {
              font-size: rem(16px);
              margin-bottom: rem(15px);
              &::before {
                font-size: rem(20px);
              }
            }
          }
          p {
            &:first-child {
              margin-bottom: rem(30px);
            }
            &:last-child {
              margin-top: rem(30px);
            }
          }
        }
      }
    }
  }
  //room
  .room {
    .room_container {
      .room_content {
        .right_content {
          .right_room {
            .right_room-card {
              justify-content: center;
              .room_card-elem {
                flex: 1 1 45%;
              }
            }
          }
        }
      }
    }
  }

  //security_content
  .security_content {
    .container {
      .security_info {
        max-width: none;
        background-color: #fff;
        opacity: 0.9;
        text-align: center;
        padding: 0 rem(10px);
      }
    }
  }
  //partners content
  .partners_content {
    .container {
      .partners_start {
        max-width: none;
        p {
          text-align: center;
        }
      }
    }
  }
  //partners elem
  .partners_content {
    .programs_container {
      .partners_start_elem {
        flex: 1 1 100%;
        margin-bottom: rem(50px);
        .start_elem-gradient {
          padding: rem(110px) rem(80px) rem(140px) rem(90px);
        }
      }
    }
  }

  //payments_content
  .payments_content {
    .payment_content_img {
      opacity: 0.2;
    }
    .partners_container {
      .payments_elem_wrap {
        .payments_elem {
          max-width: none;
          opacity: 0.9;
          padding: rem(40px) rem(15px) rem(60px);
        }
        &:first-child {
          text-align: center;
        }
      }
    }
  }
  //calculator_wrap
  .calculator_wrap {
    .calculator_img {
      opacity: 0.2;
    }
    .container {
      .calculator_left {
        max-width: none;
        background-color: #fff;
        opacity: 0.8;
        padding: rem(40px) rem(30px);
        p {
          margin-bottom: rem(30px);
        }
      }
    }
  }
  //deposit
  .deposit {
    .deposit_wrap {
      .deposit_card {
        flex: 1 1 30%;
      }
    }
  }
  //deposit slide
  .deposit_increase {
    .increase {
      .main_title {
        font-size: rem(35px);
      }
    }
    .increase_content {
      padding: rem(30px) rem(20px);
      .increase_elem {
        margin: 0 rem(15px);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  //advantages
  .advantages {
    .advantages_wrap {
      justify-content: center;
      .advantages_elem {
        width: 100%;
        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  ////slide
  .main_slide {
    height: rem(600px);
    .main_slide_wrap {
      .slide_elem {
        .container {
          height: rem(600px);
          .slide_content {
            h2 {
              font-size: rem(40px);
              .text_item {
                font-size: rem(45px);
              }

            }
          }
        }
      }
    }
  }
  //widget
  .widget_wrap {
    padding: rem(115px) rem(15px);
    .widget {
      margin: 0 auto rem(100px);
      .title_btc, .title_eth, .title_ltc {
        left: 0;
        bottom: auto;
        transform: rotate(0deg);
        top: rem(-45px);
      }
    }
  }
  //head
  .main_head {
    height: rem(120px);
    .container {
      align-items: center;
      .logo {
        width: rem(90px);
        height: rem(90px);
      }
      .menu_btn {
        display: flex;
        position: relative;
        width: rem(40px);
        height: rem(40px);
      }
      .nav_block {
        width: rem(250px);
        background-color: #fff;
        position: absolute;
        top: rem(-30px);
        right: rem(5px);
        z-index: -1;
        align-items: center;
        transition: .4s;
        visibility: visible;
        opacity: 0;
        &.active {
          visibility: visible;
          opacity: 1;
          top: rem(100px);
          z-index: 100;
        }
        .head_entrance {
          flex-direction: column;
          p {
            margin: 0 0 rem(10px) 0;
          }
          a {
            margin-bottom: rem(10px);
          }
          .form_reg {
            margin-bottom: rem(50px);
            a {
              font-size: rem(10px);
              width: rem(80px);
              height: rem(25px);
              span {
                width: rem(74px);
                height: rem(19px);
                line-height: rem(20px);
                margin: rem(2px);
              }
            }
            .btn {
              width: rem(100px);
              height: rem(25px);
              span {
                width: rem(94px);
                height: rem(19px);
              }
            }

          }
        }
        .menu_lang {
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding-bottom: rem(25px);
          .main_nav {
            margin-bottom: rem(30px);
            ul {
              text-align: center;
              flex-direction: column;
              li {
                margin: 0 0 rem(5px) 0;
                a {
                  font-size: rem(14px);
                  transition: color .4s;
                  &:hover {
                    color: $yellow-color;
                  }
                  &::before {
                    width: 0;
                    height: 0;
                  }
                }
              }
            }
          }
          .language {
            margin: 0;
            a {
              margin-right: rem(15px);
            }
          }
        }

      }
    }
  }
  //reliability
  .reliability {
    .reliability_content {
      .reliability_elem {
        flex: 1 1 100%;
      }

    }
  }
  //room
  .room {
    .room_container {
      .room_content {
        padding: rem(30px);
        .right_content {
          .room_tabs {
            .tabs_content {
              .personal_settings {
                .personal_form {
                  .personal_wrap {
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    .personal_form-left {
                      margin: 0 0 rem(30px) 0;
                    }
                  }
                  .security_form {
                    .security_form-wrap {
                      flex-direction: column;
                      align-items: center;
                      padding: 0;
                      .security_left-form {
                        margin: 0 0 rem(30px) 0;
                      }
                    }
                  }
                  .btn_main {
                    align-self: center;
                    margin: rem(30px) 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  //main news
  .main_news {
    padding: rem(115px) rem(15px);
    .main_news_container {
      .main_news-content {
        .main_news-img {
          width: 50%;
        }
      }
    }
  }
  //about us
  .about_diploma {
    .about_img-el {
      display: none;
    }
    .container {
      flex-direction: column;
      align-items: center;
      padding: 0 rem(20px);
      .diploma_img {
        position: relative;
        bottom: auto;
        right: auto;
        left: auto;
        order: 2;
        margin-bottom: rem(30px);
        &:first-child {
          order: 1;
        }
      }
      .diploma_text {
        padding: rem(50px);
        margin-bottom: rem(30px);
      }
    }
  }
  //investments
  .investments {
    .coins_investment-img {
      display: none;
    }
    .container {
      .investments_wrap {
        max-width: none;
        .investments_content {
          max-width: none;
        }

      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .investors {
    .investors_img {
      max-width: none;
      width: 100%;
      opacity: 0.2;
    }
  }
}

@media screen and (max-width: 1075px) {
  //abnormal-settings
  .room {
    .room_container {
      .room_content {
        .right_content {
          .abnormal {
            .abnormal_link {
              flex-direction: column;
              align-items: center;
              .link_elem {
                margin-right: 0;
              }
            }
          }
          .room_tabs {
            .tabs_content {
              .abnormal_banner {

              }
            }
          }
        }
      }
    }
  }
  //coins_stage
  .security_content {
    .container {
      .coins_stage {
        padding: 0 rem(15px);
        .coins_stage-text {
          flex-direction: column;
          p {
            max-width: none;
            text-align: center;
            margin-bottom: rem(15px);
          }
        }
      }
    }
  }
  //main calculator wrap
  .main_calculator_wrap {
    .main_calculator {
      padding: rem(90px) rem(10px) rem(50px);
      .calculator_form {
        .calculator_form-elem {
          p {
            font-size: rem(18px);
          }
          select {
            max-width: rem(200px);
            font-size: rem(12px);
          }
          .right_form {
            input {
              max-width: rem(200px);
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1000px) {
  //news
  .main_news {
    .main_news_container {
      .main_news-content {
        flex-direction: column;
        .main_news-img {
          width: 100%;
          max-width: none;
          height: 300px;
          margin-bottom: 50px;
        }
        .main_news_text {
          padding: 0;
          p {
            max-width: none;
            text-align: center;
          }
        }
      }
    }
  }
  //investors
  .investors {
    .container {
      .investors_elem {
        .investors_text {
          max-width: none;
        }
        .policy_invest {
          max-width: none;

        }
      }
    }
  }
  .top_section {
    height: rem(450px);
  }
  //partners_leader
  .partners_leader {
    .more_coins-img {
      height: auto;
    }
    .leader_forty {
      .container {
        .leader {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  //more_security
  .more_security {
    .parallax {
      opacity: 1;
    }
    .container {
      .more_security-head {
        max-width: none;
        padding: rem(50px) rem(15px);
        text-align: center;
        opacity: 0.96;
      }
    }
  }
  //room
  .room {
    .room_container {
      .room_content {
        .left_content {
          max-width: rem(260px);

        }
        .right_content {
          padding-left: rem(20px);
          .right_room {
            .right_room-card {
              .room_card-elem {
                &:nth-child(even) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  //parnters leader
  .partners_leader {
    .leader_second {
      .container {
        .leader {
          p {
            margin-bottom: 0;
          }
        }
      }
      .img_leader-second {
        max-width: none;
        width: 100%;
        height: rem(300px);
      }
    }
  }
}

@media screen and (max-width: 930px) {
  //HEADER
  .main_head {
    .container {
      .nav_block {
        .head_entrance {
          flex-direction: column;
          p {
            margin: 0;
          }
        }
      }
    }
  }
  ////slide
  .main_slide {
    height: rem(600px);
    .main_slide_wrap {
      .slide_elem {
        .container {
          height: rem(600px);
          .slide_content {
            h2 {
              text-align: center;
              font-size: rem(35px);
              .text_item {
                font-size: rem(30px);
              }

            }
            .slide_reliability {
              padding-left: 0;
              p {
                text-align: center;
                font-size: rem(25px);
                display: block;
                margin-bottom: rem(30px);
                &::before {
                  top: rem(-20px);
                  left: calc(50% - 35px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .calculator_title {
    font-size: rem(20px);
    margin-bottom: rem(20px);
  }
  .calculator_text {
    margin-bottom: rem(15px);
  }
  //footer
  .main_footer {
    .footer_container {
      .footer_content {
        .footer_text {
          margin-bottom: rem(30px);
        }
        nav {
          margin-right: rem(50px);
        }
      }
    }
  }
  //calculator_wrap
  .calculator_wrap {
    .container {
      .calculator_right {
        .right_content {
          max-width: none;
          opacity: 0.8;
          padding: rem(20px);
        }
        .calculator_right-data {
          padding: rem(20px);
        }
      }
    }
    .last_img {
      max-width: none;
      width: 100%;
    }
    .third_img {
      display: none;
    }
  }
}

@media screen and(max-width: 850px) {
  //news
  .news_section {
    .news_main_container {
      .new_block {
        .article_elem {

        }
      }
    }
  }
  //room
  .room {
    .room_container {
      .room_content {
        .left_content {
          max-width: rem(200px);
          .left_menu {
            ul {
              li {

                padding: 0 rem(5px);
                a {
                  font-size: rem(12px);
                  font-weight: 400;
                }
              }
            }
          }
        }
        .right_content {
          .statistics_room {
            .statistics_room-table {
              ul {
                li {
                  font-size: rem(12px);
                }
              }
            }
          }
        }
      }
    }
  }
  //investors payments
  .investors_payments {
    padding: rem(140px) rem(15px) 0;
    h2 {
      font-size: rem(20px);
    }
    .partners {
      padding: rem(20px);
      align-items: center;
      flex-direction: column;
    }
    .payments_other {
      .partners_container {
        .other_wrap {
          flex-direction: column;
          .payments_img {
            &:first-child {
              order: 3;
            }
            &:nth-child(2) {
              margin-bottom: rem(30px);
              order: 2;
            }
          }
          p {
            order: 1;
            max-width: none;
            text-align: center;
          }
        }
      }
    }
  }
  //partners start elem
  .partners_content {
    .programs_container {
      .partners_start_elem {
        padding: rem(10px);
        .start_elem-gradient {
          padding: rem(30px) rem(25px);
        }
      }
    }
  }
  //registration
  .registration {
    .room_container {
      .registration_content {
        .container_form {
          flex-direction: column;
          align-items: center;
          .registration-form {
            &:first-child {
              order: 1;
              margin-top: rem(50px);
            }
          }
        }
      }
    }
  }
  //main calculator wrap
  .main_calculator_wrap {
    .main_calculator {
      padding: rem(90px) rem(10px) rem(50px);
      .calculator_form {
        .calculator_form-elem {
          flex-direction: column;
          align-items: flex-start;
          height: auto;
          p {
            margin-bottom: rem(10px);
          }
          select {
            order: 1;
            margin-top: rem(10px);
          }
          .right_form {
            input {
              max-width: rem(200px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  //reliability
  .reliability {
    h2 {
      font-size: rem(30px);
    }
    .reliability_content {
      padding: 0 rem(15px);
      margin-bottom: rem(90px);
      .reliability_img {
        max-width: rem(300px);
        bottom: -5%;
        left: auto;
      }
      .reliability_elem {
        //max-width: none;
        flex: 1 1 100%;
        margin: 0 0 rem(30px) 0;

      }
    }
    .reliability_video {
      height: rem(450px);
      margin-bottom: rem(60px);
    }
  }
  //security head
  .security {
    .container {
      .security_head {
        padding: rem(10px);
        text-align: center;
        opacity: 0.96;
        h2 {
          font-size: rem(30px);
        }
      }
    }
  }
  //deposit slide
  .deposit_increase {
    .increase {
      .main_title {
        font-size: rem(25px);
      }
    }
    .increase_content {
      .increase_elem {
        h4 {
          font-size: rem(18px);
        }
        p {
          font-size: rem(16px);
        }
      }
    }
  }
  //advantages
  .advantages {
    margin-top: rem(50px);
    padding-bottom: rem(50px);
    .main_title {
      margin-bottom: rem(50px);
    }
  }
  //deposit
  .deposit {
    .deposit_wrap {
      padding: rem(100px) rem(10px) rem(50px);
      .deposit_card {
        max-width: rem(160px);
        margin-bottom: rem(120px);
        flex: 1 1 50%;
        .card_head {
          height: rem(160px);
          top: rem(-80px);
          p {
            font-size: rem(13px);
          }
          h3 {
            font-size: rem(21px);
          }
        }
        .card_content {
          padding: rem(90px) rem(10px) rem(20px);
          p {
            font-size: rem(13px);
          }
          h4 {
            font-size: rem(13px);
          }
        }
      }
    }
  }
  //contacts
  .contacts_wrap {
    .contacts_info {
      flex-direction: column;
      .contacts {
        h2 {
          text-align: center;
        }
      }
    }

  }
  //news
  .news_section {
    .news_main_container {
      .new_block {
        .article_elem_wrap {
          h2 {
            text-align: center;
          }
          .article_elem {
            flex-direction: column;
            .article_img {
              max-width: none;
              width: 100%;
              height: rem(300px);
              margin-bottom: rem(30px);
            }
            .article_text {
              padding-left: rem(15px);
              p {
                margin-bottom: rem(30px);
              }
            }
          }
        }
      }
    }
  }
  //faq
  .faq {
    .faq_content {
      padding: rem(100px) 0 rem(100px) rem(50px);
      h3 {
        font-size: rem(15px);
        &::before {
          left: -53%;
        }
      }
    }
  }
  .partners_leader {
    .fifty_leader {
      .forty_leader-img {
        opacity: 0.1;
        width: 100%;
        height: 100%;
        bottom: 0;
      }
    }
  }
  //room
  .room {
    .room_container {
      .room_content {
        flex-direction: column;
        align-items: center;
        padding: rem(15px);
        .right_content {
          padding: 0;
          margin-top: rem(50px);
          .right_room {
            .right_room-card {
              .room_card-elem {
                flex: 1 1 45%;
              }
            }
          }
          .statistics_room {
            .statistics_room-table {
              ul {
                flex: 1 1 100%;
                li {

                }
              }
            }
          }
        }
      }
    }
  }
  .partners {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  //top section
  .top_section {
    height: rem(400px);
    .top_content {
      .top_title {
        font-size: rem(40px);
      }
    }
  }
  .partners_content {
    margin-top: rem(50px);
    .container {
      .partners_start {
        margin-bottom: rem(40px);
      }

    }
  }
  .effective_partners {
    margin-top: rem(40px);
  }
}

@media screen and (max-width: 725px) {
  .news {
    .news_container {
      .new_elem {
        header {
          padding: rem(40px) 0;
        }
        .news_content {
          padding: rem(20px);
          article {
            flex-direction: column;
            .left_news {
              text-align: center;
              flex-direction: column;
            }
            h4 {
              margin-bottom: rem(15px);
            }
          }
        }
      }
    }
  }
  //partners content
  .partners_content {
    .container {
      .partners_start {
        p {
          span {
            font-size: rem(20px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  //about us
  .about {
    margin-bottom: rem(50px);
    padding: rem(50px) 0 0;
    .about_img {
      display: none;
      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
    .container {
      .about_content {
        padding: rem(30px) rem(6px);
        h2 {
          text-align: center;
          font-size: rem(20px);
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .about_diploma {
    margin-bottom: rem(50px);
    .container {
      padding: 0;
      .diploma_img {
        max-width: none;
        height: auto;
        &:first-child {
          order: 1;
        }
      }
      .diploma_text {
        padding: rem(10px);
        margin-bottom: rem(30px);
        text-align: center;
      }
    }
  }
  //investors
  .investors {
    .investors_img {
      max-width: rem(300px);
      height: rem(300px);
    }
    .container {
      .investors_elem {
        .investors_text {
          max-width: none;
        }
        .policy_invest {
          h3 {
            font-size: rem(20px);
          }
        }
      }
    }
  }
  //widget
  .widget_wrap {
    padding: rem(115px) rem(5px);
    .widget {
      height: rem(400px);
      p {
        font-size: rem(25px);
      }
      #widget_btc, #widget_eth, #widget_ltc {
        padding: rem(5px);
      }
    }
  }
  //payments_content
  .payments_content {
    .partners_container {
      .payments_elem_wrap {
        .payments_elem {
          h2 {
            font-size: rem(25px);
          }
          p {
            span {
              font-size: rem(20px);
            }
          }
        }
      }
    }
  }
  .advantages {
    h2 {
      font-size: rem(30px);
      margin-bottom: rem(200px);
    }
  }
}

@media screen and (max-width: 590px) {
  //footer
  .main_footer {
    .footer_container {
      .footer_content {
        .footer_text {
          text-align: center;
        }
        nav {
          text-align: center;
          order: 1;
          margin: 0;
        }
        .contacts_footer {
          margin-bottom: rem(50px);
        }
      }
    }
  }
  //deposit increase
  .deposit_increase {
    .increase {
      .main_title {
        font-size: rem(18px);
      }
    }
    .increase_content {
      padding: rem(15px);
      .increase_elem {
        margin: 0;
        h4 {
          font-weight: 300;
          font-size: rem(16px);
        }
        p {
          font-size: rem(14px);
        }
      }
    }
  }
  //room
  .room {
    .room_container {
      .room_content {
        .right_content {
          .room_tabs {
            .tabs_head {
              flex-direction: column;
              align-items: center;
              button {
                width: 100%
              }
            }
            .tabs_content {
              .personal_settings {
                .personal_form {
                  padding: 0 rem(10px);
                }
              }
            }
          }
        }
      }
    }
  }
  //investments
  .investments {
    .container {
      .investments_wrap {
        .investments_content {
          padding: rem(10px);
          text-align: center;
        }
      }
    }
  }
  .room {
    .room_container {
      .room_content {
        .right_content {
          .room_tabs {
            .tabs_content {
              .operations {
                .deposit_content {
                  .deposit_card {
                    flex: 1 1 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  ////slide
  .main_slide {
    margin-bottom: rem(80px);
    .main_slide_wrap {
      .slide_elem {
        .container {
          .slide_content {
            h2 {
              font-size: rem(25px);
              .text_item {
                font-size: rem(20px);
              }

            }
            .slide_reliability {
              padding-left: 0;
              p {
                text-align: center;
                font-size: rem(20px);
                display: block;
                margin-bottom: rem(30px);
                &::before {
                  height: rem(5px);
                }
              }
            }
          }
        }
      }
    }
  }
  //advantages
  .advantages {
    .main_title {
      margin-bottom: rem(200px);
    }
    .advantages_wrap {
      .advantages_elem {
        margin-bottom: rem(180px);
        padding: 0;
        .advantages_elem-wrap {
          padding: rem(50px) rem(20px) 0;
          .advantages_circle {
            top: -50%;
            left: calc(50% - 90px);
          }
        }
      }
    }
  }
  //room
  .room {
    .room_container {
      .room_content {
        padding: rem(5px);
        .right_content {
          max-width: 100%;
          width: 100%;
          padding: 0;
          .right_room {
            .right_room-card {
              .room_card-elem {
                flex: 1 1 100%;
                margin: 0 0 rem(15px) 0;
              }
            }
          }
        }
      }
    }
  }
  //partners start elem
  .partners_content {
    .programs_container {
      .partners_start_elem {
        margin: 0 rem(5px) rem(20px);
        padding: rem(5px);
        .start_elem-gradient {
          padding: rem(20px) rem(15px);
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  //reliability
  .reliability {
    .reliability_content {
      .reliability_img {
        bottom: -8%;
      }
      .reliability_elem {
        .reliability_head {
          height: 100px;
          p {
            font-size: rem(25px);
          }
        }

        .reliability_footer {
          padding: rem(20px);
        }

      }
    }
  }
  //top section
  .top_section {
    .top_content {
      .top_title {
        font-size: rem(25px);
      }
    }
  }
  //main calculator wrap
  .main_calculator_wrap {
    .calculator_results {
      p {
        font-size: rem(14px);
        margin-bottom: rem(15px);
        span {
          font-size: rem(20px);
        }
      }
    }
    .calculator_table {
      ul {
        li {
          font-size: rem(15px);
          &:first-child {
            font: 400 rem(14px) $lato;
          }
        }
      }
    }
  }
  .calculator_wrap {
    .calculator_right {
      .right_content {
        p {
          font-size: rem(15px);
        }
      }
    }
  }
  //abnormal-settings
  .room {
    .room_container {
      .room_content {
        .right_content {
          .room_tabs {
            .tabs_content {
              .abnormal_banner {
                .banner {
                  .banner_elem {
                    .banner_link {
                      flex-direction: column;
                      align-items: center;
                      textarea {
                        margin: 0 0 rem(20px) 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .contacts_wrap {
    padding: rem(80px) rem(5px);
    .contacts_info {
      .contacts {
        a {
          font-size: rem(18px);
        }
      }
      .contacts_qr {
        max-width: rem(300px);
        height: rem(300px);
      }
    }
  }
}

@media screen and (max-width: 361px) {
  //reliability
  .reliability {
    .reliability_content {
      .reliability_elem {
        .reliability_footer {
          padding: rem(10px);
          text-align: center;
        }
      }
    }
  }
  .room {
    .room_container {
      .room_content {
        .right_content {
          .statistics_room {
            .statistics_room-table {
              ul {
                li {
                  font-size: rem(9px);
                }
              }
            }
          }
          .room_tabs {
            .tabs_content {
              .personal_settings {
                .personal_form {
                  .personal_wrap {
                    p {
                      font-size: rem(15px);
                    }
                    .personal_form-left {
                      .notReceive_form {
                        input {
                          width: rem(12px);
                          height: rem(12px);
                        }

                      }
                    }
                  }
                  .security_form {
                    p {
                      font-size: rem(15px);
                    }
                    .security_left-form {
                      .security_form-session {
                        .session_elem {
                          input {
                            width: rem(12px);
                            height: rem(12px);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .main_calculator_wrap {
    .main_calculator {
      .calculator_form {
        .calculator_form-elem {
          p {
            font-size: rem(12px);
          }
          .right_form {
            .calculator-inp {
              max-width: rem(150px);
            }
          }
        }
      }
    }
  }
  //footer
  .main_footer {
    .footer_container {
      .footer_content {
        .contacts_footer {
          .social_footer {
            a {
              height: 45px;
              width: 45px;
            }
          }
          .contacts {
            a {
              font-size: rem(16px);
              margin-bottom: rem(15px);
              i {
                margin-right: rem(5px);
              }
            }
          }
        }
      }
    }
  }
  //news
  .news {
    .news_container {
      .new_elem {
        header {
          padding: rem(40px) 0;
          h3 {
            font-size: rem(20px);
          }
        }
      }
    }
  }
  //deposit
  .deposit {
    .deposit_wrap {
      .deposit_card {
        max-width: rem(250px);
        .card_head {
          height: rem(250px);
          p {
            font-size: rem(23px);
          }
          h3 {
            font-size: rem(25px);
          }
        }
        .card_content {
          padding-top: rem(200px);
        }
      }
    }
  }
  .partners_leader {
    .fifty_leader {
      .forty_leader-img {
        top: 70%;
      }
    }
  }
  .contacts_wrap {
    .contacts_info {
      .contacts {
        a {
          font-size: rem(16px);
          margin-bottom: rem(20px);
          i {
            margin-right: rem(5px);
          }
        }
      }
    }
  }
}
