//PARTNERS MAIN
.partners {
  width: 100%;
  position: relative;
  padding: rem(100px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .partners_img {
    max-width: rem(185px);
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//PARTNERS INFO
.partners_info {
  margin: rem(230px) 0 rem(150px);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 rem(60px) 0 rem(15px);
  .info_content {
    display: flex;

    p {
      color: #1c1c1c;
      font: 300 rem(20px)/2 $lato;
      max-width: rem(730px);
      width: 100%;
      span {
        text-transform: uppercase;
        font: 700 rem(30px)/1.3 $proxima;
      }
    }
    .info_img {
      max-width: rem(710px);
      height: rem(362px);
      box-shadow: rem(-1px) rem(3px) rem(13px) rgba(59, 48, 26, 0);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//partners beginners
.partners_beginners {
  width: 100%;
  position: relative;
  display: flex;
  max-width: rem(1700px);
  margin: auto;
  padding: 0 rem(15px);
  .beginners_elem {
    width: 50%;
    max-width: 50%;
    flex: 1 1 50%;
    border: rem(15px) solid #bbbbbb;
    box-shadow: rem(-12px) rem(23px) rem(68px) rgba(0, 0, 0, 0.06);
    padding: rem(100px) rem(85px);
    margin-right: rem(30px);
    &:last-child {
      margin-right: 0;
    }
    .main_img {
      width: 100%;
      overflow: hidden;
      margin-bottom: rem(50px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {

    }
  }
}

//effective programs
.effective_programs {
  position: relative;
  width: 100%;
  margin-top: rem(180px);
  .effective_content {
    width: 100%;
    display: flex;
    align-items: center;
    .effective_img {
      max-width: rem(786px);
      width: 100%;
      height: rem(590px);
      overflow: hidden;
      margin-right: rem(90px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .effective_text {
      max-width: rem(740px);
      width: 100%;
    }
  }
}

//programs leader
.programs_leader {
  width: 100%;
  position: relative;
  margin-top: rem(180px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .partners_container {
    .title {
      color: #1c1c1c;
      text-transform: uppercase;
      font: 900 rem(48px)/1.8 $proxima;
      letter-spacing: 0.96px;
      margin-bottom: rem(180px);
    }
    .programs_wrap {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      .leader_content {
        width: 100%;
        position: relative;
        &:nth-child(2) {
          margin-top: rem(380px);
          .left_elem {
            .leader_text {
              margin-top: 0;
            }
          }
          .img_leader {
            position: absolute;
            right: 0;
            top: rem(-100px);
            width: 50%;
            flex: 1 1 100%;
            img {
              position: relative;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        &:nth-child(3) {
          margin: rem(280px) 0;
        }
        .left_elem {
          max-width: 50%;
          width: 100%;
          flex: 1 1 100%;
          .leader_title {
            line-height: 35px;
            font: 900 rem(30px)/1.1 $proxima;
            text-transform: uppercase;
            margin-bottom: rem(50px);
          }
          .leader_text {
            margin-top: rem(60px);
            color: #000000;
            font: 700 rem(20px)/1.7 $lato;
            max-width: rem(530px);
            width: 100%;
          }
          .partners_text {
            margin-bottom: rem(120px);
          }
        }
        .leader_circle_img {
          position: absolute;
          right: rem(150px);
          top: 0;
          width: 50%;
          z-index: -1;
          img {
            width: 100%;
            object-fit: cover;
            position: relative;
          }
        }
      }
    }
  }
}

.programs_example {
  width: 100%;
  position: relative;
  margin-bottom: rem(190px);
  display: flex;
  justify-content: flex-end;
  .programs_container {
    .example_elem {
      position: relative;
      max-width: rem(1050px);
      width: 100%;
      border: rem(15px) solid #bbbbbb;
      box-shadow: rem(-12px) rem(23px) rem(68px) rgba(0, 0, 0, 0.06);
      padding: rem(50px) rem(120px);
      p {
        color: #1c1c1c;
        font: 300 rem(20px)/1.7 $lato;
        b {
          font-size: rem(30px);
          font-weight: 700;
          letter-spacing: rem(0.6px);
          margin-right: rem(10px);
        }
        &:first-child {
          font-weight: 700;
          margin-bottom: rem(30px);
        }
        &:last-child {
          margin-top: rem(50px);
          font-style: italic;
        }
      }
    }
    .example_img {
      position: absolute;
      right: 8%;
      top: 15%;
      width: 25%;
      img {
        position: relative;

      }
    }
  }
}



