//PARTNERS MAIN
.partners {
  width: 100%;
  position: relative;
  padding: rem(100px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .partners_img {
    max-width: rem(185px);
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.partners_content {
  width: 100%;
  position: relative;
  margin-top: rem(200px);
  .partners_start-img {
    position: absolute;
    right: 0;
    max-width: rem(710px);
    height: auto;
    width: 35%;
    opacity: 0.9;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    .partners_start {
      position: relative;
      max-width: rem(730px);
      width: 100%;
      background-color: #fff;
      opacity: 0.9;
      margin-bottom: rem(180px);
      p {
        color: #1c1c1c;
        font: 300 rem(20px)/1.75 $lato;
        span {
          font: 400 rem(30px)/1.3 "Proxima Nova - Extrabld";
          text-transform: uppercase;
          margin-right: rem(10px);
        }
      }
    }
  }
  .programs_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .partners_start_elem {
      max-width: rem(820px);
      width: 100%;
      padding: rem(110px) rem(80px) rem(140px) rem(115px);
      border: rem(15px) solid #d4d4d4;
      margin-right: rem(30px);
      &:nth-child(2) {
        padding: rem(75px) rem(85px) rem(120px);
        margin-right: 0;
      }
      .partners_coins-img {
        max-width: rem(500px);
        height: rem(240px);
        margin-bottom: rem(30px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .coins-img {
        max-width: rem(580px);
        height: rem(350px);
      }
    }
  }
}

.effective_partners {
  margin-top: rem(180px);
  width: 100%;
  position: relative;
  margin-bottom: rem(190px);
  .effective_partners-img {
    max-width: rem(650px);
    height: rem(590px);
    width: 39%;
    position: absolute;
    left: 0;
    top: 0;
    img {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
    .effective {
      max-width: rem(740px);
      width: 100%;
      background-color: #fff;
      opacity: 0.9;
      padding: rem(20px);
      p {
        color: #1c1c1c;
        font: 300 rem(20px)/1.75 $lato;
        margin-bottom: rem(50px);
        &:nth-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.partners_leader {
  width: 100%;
  position: relative;
  h2 {
    text-align: center;
    color: #1c1c1c;
    text-transform: uppercase;
    font: 400 rem(48px)/1.5 "Proxima Nova - Extrabld";
    letter-spacing: rem(0.96px);
    margin-bottom: rem(200px);
  }
  .container {
    .leader {
      max-width: rem(750px);
      width: 100%;
      position: relative;
      margin-bottom: rem(380px);
      h3 {
        text-transform: uppercase;
        font: 400 rem(30px)/1 "Proxima Nova - Extrabld";
        margin-bottom: rem(50px);
      }
      p {
        color: #1c1c1c;
        font: 300 rem(20px)/1.75 $lato;
        margin-bottom: rem(140px);
      }
      h4 {
        font: 700 rem(20px)/1.75 $lato;
        max-width: rem(530px);
        width: 100%;
      }
    }
    .partners_leader-img {
      max-width: rem(740px);
      height: 740px;
      width: 100%;
      position: absolute;
      top: 0;
      left: calc(55% - 9.37rem);
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.leader_second {
  width: 100%;
  position: relative;
  //margin-bottom: rem(150px);
  .img_leader-second {
    max-width: rem(680px);
    width: 38%;
    position: absolute;
    right: 0;
    top: rem(-150px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    .leader {
      background-color: #fff;
      opacity: 0.9;
      margin-bottom: 0;
    }
  }
}

.leader_third {
  width: 100%;
  position: relative;
  .partners_leader-img {
    top: 0;
  }
  .container {
    .leader {
      margin-bottom: rem(200px);
      h4 {
        margin-bottom: rem(60px);
      }
    }
  }
}

.partners_leader {
  .fifty_leader {
    width: 100%;
    position: relative;
    margin-bottom: rem(250px);
    .forty_leader-img {
      max-width: rem(470px);
      width: 39%;
      height: rem(430px);
      position: absolute;
      right: rem(30px);
      top: 50%;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .container {
      .leader {
        margin-bottom: 0;
      }
    }

  }
}
