.reliability {
  width: 100%;
  position: relative;
  h2 {
    margin-bottom: rem(30px);
  }
  .reliability_title {
    max-width: rem(720px);
    width: 100%;
    letter-spacing: rem(0.4px);
    font-style: italic;
    margin: auto;
    text-align: center;
  }
  .reliability_content {
    margin-top: rem(100px);
    width: 100%;
    position: relative;
    padding: 0 rem(90px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: rem(200px);
    .reliability_elem {
      max-width: rem(560px);
      width: 100%;
      margin-right: rem(20px);
      box-shadow: rem(-12px) rem(23px) rem(68px) rgba(0, 0, 0, 0.08);
      background-color: #ffffff;
      margin-bottom: rem(30px);
      &:first-child {
        .reliability_head {
          background-image: $brown-gradient;
        }
      }
      &:nth-child(2) {
        .reliability_head {
          background-image: $yellow-gradient;
        }
      }
      &:nth-child(3) {
        .reliability_head {
          background-image: $grey-gradient;
          margin-right: 0;
        }
      }

      .reliability_head {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(70px) 0;
        p {
          color: #ffffff;
          text-transform: uppercase;
          font: 400 rem(40px) $proxima;
        }
      }
      .reliability_footer {
        width: 100%;
        height: rem(380px);
        background-color: #fff;
        padding: rem(55px) rem(70px) 0 rem(75px);
        p {
          span {
            font: 700 rem(20px) $proxima;
            letter-spacing: 0.4px;
          }
        }
      }
    }
    .reliability_img {
      width: rem(395px);
      position: absolute;
      bottom: rem(-90px);
      left: calc(50% - 197.5px);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .reliability_video {
    max-width: rem(1140px);
    width: 100%;
    margin: 0 auto rem(160px);
    height: rem(657px);
    box-shadow: -12px 23px 68px rgba(0, 0, 0, 0.08);
    padding: rem(15px);
  }
}