.security {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: rem(200px);
  .parallax {
    position: absolute;
  }
  .container {
    display: flex;
    justify-content: flex-end;
    .security_head {
      max-width: rem(960px);
      width: 100%;
      padding: rem(60px) rem(100px) rem(80px);
      background-color: #fff;
      opacity: 0.95;
      h2 {
        color: #1c1c1c;
        text-transform: uppercase;
        font: 400 rem(48px)/1 "Proxima Nova - Extrabld";
        letter-spacing: rem(0.96px);
        margin-bottom: rem(100px);
      }
      p {
        color: #1c1c1c;
        font: 300 rem(20px)/1.75 $lato;
        margin-bottom: rem(50px);
      }
    }
  }
}

.security_content {
  width: 100%;
  position: relative;
  margin-bottom: rem(150px);
  .security_content-img {
    max-width: rem(700px);
    width: 37%;
    position: absolute;
    right: 0;
    top: rem(230px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    .security_info {
      max-width: rem(730px);
      width: 100%;
      h3 {
        text-transform: uppercase;
        font: 400 rem(30px)/1 "Proxima Nova - Extrabld";
        margin-bottom: rem(50px);
      }
      p {
        font: 300 rem(20px)/1.75 $lato;
        margin-bottom: rem(100px);
      }
    }
    .coins_stage {
      width: 100%;
      position: relative;
      .coins_stage-img {
        max-width: rem(565px);
        width: 100%;
        margin: 0 auto rem(30px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .coins_stage-text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
          font: 300 rem(20px)/1.75 $lato;
          max-width: rem(350px);
          width: 100%;
        }
      }
      h5 {
        font: 700 rem(20px)/1.75 $lato;
        max-width: rem(724px);
        width: 100%;
        margin-top: rem(50px);
      }
    }
  }
}

.more_security {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: rem(100px);
  .parallax {
    position: absolute;
    opacity: 0.25;
  }
  .container {
    display: flex;
    justify-content: flex-end;
    .more_security-head {
      background-color: #fff;
      padding: rem(50px) rem(100px) rem(20px);
      max-width: rem(960px);
      width: 100%;
      opacity: 0.95;
      p {
        font: 300 rem(20px)/1.75 $lato;
      }
    }
  }
}

.partners_leader {
  .more_coins-img {
    max-width: rem(972px);
    width: 100%;
    height: rem(680px);
    margin: 0 auto rem(80px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .leader_forty {

    width: 100%;
    position: relative;
    .container {
      .leader {
        margin-bottom: rem(50px);
      }
    }
  }
}

.partners_table {
  width: 100%;
  position: relative;
  margin-bottom: rem(100px);
  .more_security-img {
    max-width: rem(740px);
    width: 38%;
    height: rem(816px);
    position: absolute;
    z-index: -1;
    right: 0;
    top: rem(254px);
    opacity: 0.23;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .table_container {
    max-width: rem(1420px);
    width: 100%;
    margin: auto;
    padding: 0 rem(15px);
    .table {
      max-width: rem(1050px);
      width: 100%;
      padding: rem(20px);
      background-image: linear-gradient(to top, #676869 0%, #676869 1%, #8c8d8f 17%, #c1c1c2 36%, #faf8f5 54%, #ebeae9 67%, #dcdcdc 74%, #b5b6b7 100%);
      .table-gradient {
        width: 100%;
        padding: rem(80px) rem(130px) rem(100px);
        background-color: #fff;
        p {
          font: 300 rem(20px)/1.75 $lato;
          margin-bottom: rem(40px);
          span {
            font: 700 rem(30px) $lato;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}